@charset "UTF-8";
html {
  box-sizing: border-box;
  background-color: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* шрифты */
@font-face {
  font-family: "Roboto";
  src: local("RobotoRegular"), url("../fonts/RobotoRegular.woff2") format("woff2"), url("../fonts/RobotoRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: local("RobotoBold"), url("../fonts/RobotoBold.woff2") format("woff2"), url("../fonts/RobotoBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TTFirsNeueRegular"), url("../fonts/TTFirsNeue-Regular.woff2") format("woff2"), url("../fonts/TTFirsNeue-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Firs Neue";
  src: local("TTFirsNeueBold"), url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"), url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "TT Firs Neue", sans-serif;
}

.container {
  max-width: 1320px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0;
  margin: 0;
}

.hidden {
  display: none;
}

@media (min-width: 320px) {
  .btn-anim {
    outline: none;
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
  }
  .btn-anim:focus-visible {
    background: #FF6E30;
    border-color: #CE4307;
  }
  .btn-anim:hover {
    background: #BC572B;
    border-color: #BC572B;
  }
  .btn-anim:active {
    background: #CE4307;
    border-color: #CE4307;
  }
  .projects-btn-anim {
    outline: none;
    transition-duration: 0.3s;
    transition-property: background, color, border-color;
    transition-timing-function: ease-in-out;
  }
  .projects-btn-anim:focus-visible:not(:hover) {
    background: #BC572B;
    border-color: #FF6E30;
  }
  .projects-btn-anim:hover {
    background: #BC572B;
    border-color: #BC572B;
  }
  .projects-btn-anim:active {
    background: #CE4307;
    border-color: #CE4307;
  }
  .nav-link-anim {
    transition-duration: 0.3s;
    transition-property: background, color;
    transition-timing-function: ease-in-out;
  }
  .nav-link-anim:focus-visible:not(:hover) {
    border: none;
    outline: none;
    background: #BC572B;
  }
  .nav-link-anim:hover {
    outline: none;
    color: #FF6E30;
  }
  .nav-link-anim:active {
    color: #CE4307;
  }
  .svg-anim {
    outline: none;
  }
  .svg-anim svg {
    transition-duration: 0.3s;
    transition-property: fill;
    transition-timing-function: ease-in-out;
    fill: #CACACA;
  }
  .svg-anim:focus-visible:not(:hover) svg {
    fill: #BC572B;
  }
  .svg-anim:hover svg {
    fill: #FF6E30;
  }
  .svg-anim:active svg {
    fill: #CE4307;
  }
  .input-anim::-moz-placeholder {
    transition-duration: 0.3s;
    -moz-transition-property: color;
    transition-property: color;
    transition-timing-function: ease-in-out;
  }
  .input-anim::placeholder {
    transition-duration: 0.3s;
    transition-property: color;
    transition-timing-function: ease-in-out;
  }
  .input-anim:hover::-moz-placeholder {
    color: #FF6E30;
  }
  .input-anim:hover::placeholder {
    color: #FF6E30;
  }
  .input-anim {
    transition-duration: 0.3s;
    transition-property: outline;
    transition-timing-function: ease-in-out;
  }
  .input-anim:focus-visible:not(:hover) {
    outline: 1px solid #FF6E30;
  }
}
.header__form-fix {
  position: relative;
}

.header-svg-2 {
  width: 23px;
  height: 23px;
  fill: #808080;
}

.header-btn-close-2 {
  display: none;
}

.header-btn {
  outline: none;
}

.header__form {
  visibility: hidden;
  padding: 5px 15px 5px 5px;
  position: absolute;
  right: 0px;
  top: -2px;
  display: flex;
  align-items: center;
  background: #202020;
}
.header__form input {
  width: 169px;
  border: none;
  outline: none;
  border-bottom: 1px solid #E9E9E9;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
  background: transparent;
  transition-property: border-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.header__form ::-moz-placeholder {
  color: #E9E9E9;
}
.header__form ::placeholder {
  color: #E9E9E9;
}
.header__form :focus-visible:not(:hover) {
  border-color: #FF6E30;
}
.header__form :hover {
  border-color: #FF6E30;
}
.header__form :active {
  border-color: #CE4307;
}

.header__form__active {
  visibility: visible;
}

.header {
  padding: 23px 0 22px 0;
  background: #202020;
}

.header__mobile {
  background: #4A4A4A;
  display: none;
}

.header__content {
  display: grid;
  grid-template-columns: 1.1fr 2.5fr 0.72fr;
  align-items: center;
}

.nav-burger {
  display: none;
}

.map-tel-burger {
  display: none;
}

.headerleft img {
  width: 190.25px;
}

.header-right {
  display: flex;
  justify-content: end;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.nav__link {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.nav-link {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 1px;
  color: #ffffff;
}

.header-svg {
  width: 25px;
  height: 25px;
}

.burger {
  display: none;
}

.hero {
  padding: 41px 0 68px 0;
  background: #ffffff;
}

.hero__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.span-absolute {
  position: absolute;
  padding: 7px 15px;
  top: 15px;
  right: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  background-color: #202020;
}

.hero__content-left {
  position: relative;
  display: flex;
  align-items: flex-end;
  height: 100%;
  background: url(../images/hero11920.jpg);
  background-repeat: no-repeat;
}

.hero__block {
  padding: 15px 50px 60px 60px;
}

.hero-span {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.h1 {
  font-family: "TT Firs Neue";
  margin-bottom: 21px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 104%;
  color: #ffffff;
}

.btn {
  border: 3px solid #FF6E30;
  padding: 12px 18px;
  background: #FF6E30;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.h2 {
  font-family: "TT Firs Neue";
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 104%;
  color: #202020;
}

.hero__block-right {
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 30px;
  font-size: 0;
}

.hero__block-right-item:nth-child(1) {
  grid-column: 1/3;
}

.aboutus {
  background: #202020;
  padding: 30px 31px 70px 31px;
}

.aboutus__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.h3 {
  margin-bottom: 5px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}

.aboutus-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}

.aboutus__content-right {
  padding-top: 33px;
}

.aboutus-descr {
  padding-top: 21px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #ffffff;
}

.aboutus-form {
  padding-top: 17px;
  display: flex;
  justify-content: space-between;
}
.aboutus-form input {
  padding-left: 23px;
  margin-right: 30px;
  outline: none;
  border: none;
  background: #4A4A4A;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #CACACA;
}

.projects {
  background: #ffffff;
  padding-top: 68px;
  padding-bottom: 32px;
}

.h3-fix {
  color: #202020;
  margin-bottom: 12px;
}

.projects__item {
  padding: 10px;
}

.projects-descr {
  padding-top: 14px;
  margin-bottom: 10px;
  height: 80px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.projects-span {
  color: #999999;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
}

.projects-span-fix {
  color: #ffffff;
}

.projects-data {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}

.projects-data-fix {
  position: absolute;
  top: -77%;
}

.projects-svg {
  margin-right: 5px;
  width: 14px;
  height: 14px;
  stroke: #999999;
}

.projects-span-absolute {
  padding: 6px 14px;
  background: #202020;
  position: absolute;
  top: 7px;
  right: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.h4 {
  margin-bottom: 6px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: #ffffff;
}

.item-4-5-text {
  position: relative;
  width: 49%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.projects-btn {
  position: absolute;
  bottom: 30px;
  padding: 13px 20px;
  border: 3px solid #FF6E30;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.projects__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "item-1 item-1 item-2 item-2 item-3 item-3 item-4 item-4 item-4 item-4 item-4 item-4" "item-5 item-5 item-5 item-5 item-5 item-5 item-6 item-6 item-6 item-7 item-7 item-7";
}

.item-1 {
  grid-area: item-1;
  position: relative;
  padding: 0;
  height: 300px;
}

.item-2 {
  grid-area: item-2;
  position: relative;
  padding: 0;
  height: 300px;
}

.item-3 {
  grid-area: item-3;
  position: relative;
  padding: 0;
  height: 300px;
}

.item-4 {
  grid-area: item-4;
  position: relative;
  height: 300px;
  background: url(../images/item-4-1920.jpg);
  background-repeat: no-repeat;
  padding: 46px 5px 30px 30px;
}

.item-5 {
  grid-area: item-5;
  position: relative;
  height: 300px;
  background: url(../images/item-5-1920.jpg);
  padding: 46px 5px 30px 30px;
}

.item-6 {
  grid-area: item-6;
  position: relative;
  padding: 0;
  height: 300px;
}

.item-7 {
  grid-area: item-7;
  position: relative;
  padding: 0;
  height: 300px;
}

.contacts {
  padding-top: 37px;
  padding-bottom: 69px;
  background: #ffffff;
}

.contacts-h3-fix {
  color: #202020;
  margin-bottom: 15px;
}

.ymaps-2-1-79-controls__control_toolbar,
.ymaps-2-1-79-searchbox,
.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-copyright__link {
  display: none;
}

[class*=ground-pane] {
  filter: grayscale(1);
}

.contacts__content-left {
  position: relative;
  margin-top: 6px;
}

.map-adress {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  width: 410px;
  height: 100%;
  position: absolute;
  padding: 20px 20px;
  background: rgba(32, 32, 32, 0.85);
}

.map-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.map-btn-svg {
  height: 20px;
  width: 20px;
}

.map-adress-content {
  position: relative;
  top: 37.1%;
  padding: 0px 43px 0px 40px;
  display: flex;
  flex-direction: column;
}

.map-span-title {
  margin-bottom: 4px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #ffffff;
}

.map-span-adress {
  margin-bottom: 2px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #CACACA;
}

.map-tel {
  outline: none;
  display: flex;
  align-items: center;
  color: #FF6E30;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.map-tel-svg {
  fill: #FF6E30;
  width: 22px;
  height: 22px;
}

.contacts__content-right-title {
  margin-bottom: 5px;
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #202020;
}

.contacts__content-right-text {
  width: 91%;
  color: #999999;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.just-validate-error-label {
  position: absolute;
  top: 0;
  left: 23px;
}

.form {
  padding-top: 15px;
  display: grid;
  gap: 20px;
}
.form label {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
}
.form label input {
  display: flex;
  width: 100%;
  padding: 15px 23px;
  border: none;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  background: #E9E9E9;
}
.form label textarea {
  display: flex;
  width: 100%;
  height: 152px;
  padding: 16px 23px;
  border: none;
  outline: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #999999;
  background: #E9E9E9;
  resize: none;
}

.form-btn {
  justify-self: flex-start;
}

.contacts__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  grid-template-areas: "contacts1 contacts1 contacts1 contacts1 contacts1 contacts1 contacts1 contacts1 contacts2 contacts2 contacts2 contacts2";
}

.contacts__content-left {
  grid-area: contacts1;
}

.contacts__content-right {
  grid-area: contacts2;
}

.footer-bottom {
  display: none;
  background: #4A4A4A;
}

.footer__logo2 {
  display: none;
}

.fotter-top {
  padding-top: 24px;
  padding-bottom: 16px;
  background: #202020;
}

.footer-img {
  width: 190.25px;
  margin-bottom: 9px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-span {
  font-family: "TT Firs Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #E9E9E9;
}

.footer-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #CACACA;
}

.footer-text-margin {
  margin-bottom: 8px;
}

.footer-svg {
  margin-right: 40px;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.footer-svg svg {
  width: 30px;
  height: 30px;
}

.footer-content {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .headerleft img {
    width: 163.25px;
  }
  .header {
    padding: 26px 0 23px 0;
    background: #202020;
  }
  .header__form {
    right: 7px;
  }
  .hero {
    padding: 34px 0 68px;
    background: #fff;
  }
  .hero__content-left {
    background: url(../images/hero-1-1024.jpg);
  }
  .h1 {
    margin-bottom: 23px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 100%;
  }
  .hero-span {
    margin-bottom: 10px;
  }
  .h2 {
    margin-bottom: 25px;
  }
  .hero__block {
    padding: 14px 15px 29px 28px;
  }
  .aboutus {
    padding: 30px 0px 83px 0px;
  }
  .aboutus-descr {
    padding-top: 20px;
  }
  .aboutus-form {
    display: block;
  }
  .aboutus-form input {
    width: 73%;
    height: 50px;
    margin-bottom: 20px;
  }
  .projects-descr {
    height: 60px;
    -webkit-line-clamp: 2;
  }
  .item-4-5-text {
    width: 53%;
  }
  .projects-data-fix {
    position: absolute;
    top: -73%;
  }
  .projects-descr-fix1024 {
    height: 80px;
  }
  .projects-span-absolute {
    right: 9px;
  }
  .projects__list {
    display: grid;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 24px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 285px);
    grid-template-areas: "item-1 item-1 item-2 item-2 item-3 item-3 item-3 item-3" "item-4 item-4 item-4 item-4 item-4 item-6 item-6 item-6" "item-7 item-7 item-7 item-5 item-5 item-5 item-5 item-5";
  }
  .item-1 {
    height: 285px;
  }
  .item-2 {
    height: 285px;
  }
  .item-3 {
    height: 285px;
  }
  .item-4 {
    padding: 54px 5px 30px 31px;
    height: 307px;
    background: url(../images/item-4-1024.jpg);
  }
  .item-5 {
    padding: 53px 5px 30px 29px;
    height: 307px;
    background: url(../images/item-7-1024.jpg);
  }
  .item-6 {
    height: 307px;
  }
  .item-7 {
    height: 307px;
  }
  .contacts__content {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
    grid-template-areas: "contacts1 contacts1 contacts1 contacts1 contacts1  contacts2 contacts2 contacts2";
  }
  .contacts {
    padding-top: 36px;
  }
  .map-adress {
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 34%;
    position: absolute;
    padding: 0px;
    background: rgba(32, 32, 32, 0.85);
  }
  .map-adress-content {
    position: relative;
    top: 16.1%;
    padding: 0 43px 0 31px;
    display: flex;
    flex-direction: column;
  }
  .map-span-adress {
    width: 58%;
  }
  .map-adress-content {
    position: relative;
  }
  .map-tel {
    position: absolute;
    bottom: 4px;
    left: 179px;
  }
  .footer-img {
    width: 166px;
    margin-bottom: 9px;
  }
  .footer-span {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .footer-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  .footer-text-fix {
    padding-left: 41px;
  }
  .footer-img {
    padding-top: 5px;
    width: 166px;
    margin-bottom: 6px;
  }
  .footer-content {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1.4fr 0.6fr;
  }
}
@media (max-width: 992px) {
  .header__content {
    grid-template-columns: 1fr 2.6fr 0.4fr;
  }
  .nav-link {
    font-size: 13px;
  }
  .map-tel {
    position: static;
  }
  .map-span-adress {
    width: 100%;
  }
  .footer-centr {
    display: none;
  }
  .footer-content {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    padding-left: 28px;
    padding-right: 28px;
  }
  .header {
    padding: 26px 0 0px 0;
  }
  .nav-burger {
    display: none;
  }
  .header-btn-close {
    display: none;
  }
  .header-btn-close-2 {
    display: block;
  }
  .nav-link {
    font-size: 14px;
  }
  .header__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 23px;
    align-items: center;
  }
  .header-center {
    display: none;
  }
  .header__mobile {
    display: block;
    padding-top: 13px;
    padding-bottom: 11px;
  }
  .hero {
    padding: 36px 0px 67px 0px;
  }
  .hero__block {
    padding: 14px 15px 32px 28px;
  }
  .h1 {
    font-family: "TT Firs Neue";
    margin-bottom: 23px;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 90%;
  }
  .hero-span {
    margin-bottom: 15px;
  }
  .h2 {
    margin-bottom: 17px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 104%;
  }
  .hero__content-left {
    background: url(../images/hero-1-768.jpg);
  }
  .aboutus {
    padding: 31px 0 61px;
  }
  .aboutus-descr {
    padding-top: 22px;
  }
  .aboutus-form input {
    width: 100%;
  }
  .projects-descr {
    height: 80px;
  }
  .projects-btn {
    bottom: 37px;
  }
  .item-4-5-text {
    width: 43%;
  }
  .projects-span-absolute {
    right: 7px;
    top: 7px;
  }
  .projects__list {
    display: grid;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 25px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 300px);
    grid-template-areas: "item-1 item-1 item-2 item-2 item-3 item-3" "item-4 item-4 item-4 item-4  item-4 item-4" "item-6 item-6 item-6 item-7  item-7 item-7" "item-5 item-5 item-5 item-5 item-5 item-5";
  }
  .item-1 {
    height: 300px;
  }
  .item-2 {
    height: 300px;
  }
  .item-3 {
    height: 300px;
  }
  .item-4 {
    padding: 54px 5px 30px 30px;
    height: 307px;
    background: url(../images/item-4-768.jpg);
    background-repeat: no-repeat;
  }
  .item-5 {
    padding: 52px 5px 30px 29px;
    height: 307px;
    background: url(../images/item-7-768.jpg);
    background-repeat: no-repeat;
  }
  .item-6 {
    height: 307px;
  }
  .item-7 {
    height: 307px;
  }
  .contacts {
    padding-top: 28px;
    padding-bottom: 47px;
  }
  .contacts__content-right-text {
    width: 100%;
  }
  .map-span-adress {
    width: 70%;
  }
  .map-adress-content {
    padding: 0 43px 0 29px;
  }
  .map-span-adress {
    margin-bottom: 3px;
  }
  .contacts__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 24px;
    grid-template-areas: "contacts1 contacts1 contacts1 contacts1 contacts1 contacts1" "contacts2 contacts2 contacts2 contacts2 0 0";
  }
  .contacts__content-left {
    grid-row: 1;
    grid-column: 1/span 6;
  }
  .contacts__content-right {
    grid-row: 2;
    grid-column: 1/span 4;
  }
}
@media (max-width: 629px) {
  .map-span-adress {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .header {
    padding: 25px 0 0 0;
  }
  .header__form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    right: 0px;
    top: -5px;
  }
  .header__form input {
    width: 100%;
  }
  .header-svg {
    width: 20px;
    height: 20px;
  }
  .header__content {
    padding-bottom: 20px;
  }
  .header__mobile {
    display: block;
    padding-top: 13px;
    padding-bottom: 15px;
  }
  .container {
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .headerleft img {
    width: 111.55px;
  }
  .burger {
    position: relative;
    width: 21px;
    height: 17px;
    display: block;
    cursor: pointer;
  }
  .burger__line {
    position: absolute;
    left: 50%;
    width: 20px;
    height: 2px;
    border-radius: 3px;
    background-color: white;
    transform: translateX(-50%);
  }
  .burger__line:nth-child(1) {
    top: 18px;
    width: 10px;
    left: 6px;
  }
  .burger__line:nth-child(3) {
    bottom: 13px;
  }
  .burger__line:nth-child(2) {
    top: 56%;
    transform: translateX(-50%), translateY(-50%);
  }
  .nav {
    display: none;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-burger {
    position: absolute;
    visibility: hidden;
    left: 0px;
    right: 0px;
    top: 68px;
    z-index: 1000;
    margin: 0;
    display: grid;
    padding: 14px 0 36px 21px;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 225px 400px;
    gap: 10px;
    height: 541px;
    grid-template-areas: "burger-top" "burger-center" "burger-bottom";
    background: #202020;
  }
  .visibility-burger {
    visibility: visible;
  }
  .burger-btn-close {
    display: flex;
    grid-area: burger-top;
  }
  .nav-list {
    grid-area: burger-center;
  }
  .map-tel-burger {
    grid-area: burger-bottom;
  }
  .burger-svg-close {
    width: 18px;
    height: 18px;
    fill: #808080;
  }
  .nav-link {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  .nav-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .map-tel-burger {
    display: flex;
    align-items: center;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #ff6e30;
  }
  .map-tel-burger-svg {
    fill: #ff6e30;
    width: 20px;
    height: 20px;
  }
  .hero {
    padding: 31px 0 49px;
  }
  .hero__block {
    padding: 14px 30px 32px 28px;
  }
  .span-absolute {
    padding: 4px 7px;
    top: 6px;
    right: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .hero__content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .hero__content-left {
    height: 422px;
    background: url(../images/hero-1-320.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
  .hero-span {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 9px;
  }
  .h1 {
    margin-bottom: 13px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 110%;
  }
  .btn {
    border: 3px solid #ff6e30;
    padding: 9px 21px;
    background: #ff6e30;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
  }
  .h2 {
    padding-top: 4px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 104%;
  }
  .hero-img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
  }
  .aboutus__content {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr;
    row-gap: 4px;
  }
  .aboutus {
    padding: 32px 0px 61px 1px;
  }
  .h3 {
    margin-bottom: 3px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
  }
  .aboutus-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
  }
  .aboutus__content-right {
    padding-top: 17px;
  }
  .aboutus-descr {
    padding-top: 23px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .aboutus-form {
    padding-top: 13px;
  }
  .aboutus-form input {
    width: 98%;
    height: 40px;
    margin-bottom: 20px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
  .projects {
    display: flex;
    padding-top: 52px;
  }
  .projects-descr {
    height: 80px;
  }
  .projects-descr-item3 {
    height: 53px;
    -webkit-line-clamp: 2;
  }
  .h4 {
    margin-bottom: 9px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
  }
  .item-4-5-text {
    width: 80%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .projects-span-absolute {
    padding: 4px 14px;
    background: #202020;
    position: absolute;
    top: 6px;
    right: 6px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  .projects-data-fix {
    position: absolute;
    top: -2%;
  }
  .projects-btn {
    bottom: 30px;
    padding: 10px 18px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
  }
  .projects-descr-fix320 {
    height: 80px;
  }
  .projects-img {
    width: 100%;
    height: 184px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .projects__list {
    padding-top: 11px;
    justify-content: center;
    display: grid;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "item-1 item-1" "item-2 item-2" "item-3 item-3" "item-4 item-4" "item-6 item-6" "item-7 item-7" "item-5 item-5";
  }
  .item-1 {
    height: 300px;
  }
  .item-2 {
    height: 278px;
  }
  .item-3 {
    height: 278px;
  }
  .item-4 {
    padding: 224px 5px 30px 30px;
    height: 422px;
    background: url(../images/item-4-320.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center center;
  }
  .item-5 {
    padding: 225px 5px 30px 31px;
    height: 422px;
    background: url(../images/item-7-320.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background-position: center center;
  }
  .item-6 {
    height: 300px;
  }
  .item-7 {
    height: 300px;
  }
  .contacts {
    padding-top: 4px;
    padding-bottom: 47px;
  }
  .map-span-title {
    margin-bottom: 11px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .map-span-adress {
    margin-bottom: 11px;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .map-adress-content {
    padding: 0 10px 0 0px;
  }
  .map-adress {
    height: 33%;
  }
  .contacts__content-left {
    width: 100%;
    height: 475px;
  }
  .map-tel {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  .map-btn {
    position: absolute;
    right: 0px;
    top: 21px;
  }
  .contacts__content-right-title {
    margin-bottom: 8px;
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  .contacts__content-right-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
  }
  .form label input {
    padding: 13px 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
  .form label textarea {
    padding: 13px 23px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
  }
  .form {
    padding-top: 15px;
    display: grid;
    gap: 19px;
  }
  .form textarea {
    height: 151px;
  }
  .contacts {
    padding-top: 2px;
    padding-bottom: 0px;
  }
  .contacts__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 24px;
    grid-template-areas: "contacts1 contacts1" "contacts2 contacts2";
  }
  .contacts__content-left {
    grid-row: 1;
    grid-column: 1/span 2;
  }
  .contacts__content-right {
    grid-row: 2;
    grid-column: 1/span 2;
  }
  .footer-content {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
  }
  .footer__logo {
    display: none;
  }
  .footer-social {
    display: flex;
    align-items: center;
  }
  .footer-svg {
    margin: 0;
  }
  .fotter-top {
    padding-top: 30px;
    padding-bottom: 27px;
  }
  .footer__bottom {
    background: #4A4A4A;
    display: block;
  }
  .footer__logo2 {
    padding-top: 10px;
    padding-bottom: 15px;
    display: block;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer-span-2 {
    font-family: "TT Firs Neue";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: #E9E9E9;
  }
  .footer__logo2 img {
    width: 111.5px;
    margin-bottom: 3px;
  }
}/*# sourceMappingURL=style.css.map */